{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block%}
    Register
{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md">
                <h3>Create a New Account</h3>
                {% if error_message %}
                <p><strong>{{ error_message }}</strong></p>
                {% endif %}

                <form class="form-horizontal" role="form" action="" method="post">
                    {% csrf_token %}

                </form>

            </div>

        </div>
    </div>

    <!--<h1>About Page</h1>-->
    <!--{% if registered %}-->
    <!--Rango says: <strong>thank you for registering!</strong>-->
    <!--<a href="/rango/"></a><br/>-->
    <!--{% else %}-->
    <!--Rango says: <strong>Register here</strong><br/>-->
    <!--<form id="user_form" method="post" action="/rango/register" enctype="multipart/form-data">-->

        <!--{% csrf_token %}-->

        <!--&lt;!&ndash;Display each form&ndash;&gt;-->
        <!--{{ user_form.as_p }}-->
        <!--{{ profile_form.as_p }}-->

        <!--<input type="submit" name="submit" value="Register">-->
    <!--</form>-->
    <!--{% endif %}-->
{% endblock %}